
/*-------------------------------------DESKTOP VIEW--------------------------------------*/	
html,body{	
	background-color: #121212;
	font-family: Comic Sans MS, cursive, sans-serif;
	margin: 0px;
}

@keyframes color-change-on-hover-text{
	0%{color: #f70505 }
	 	10%{color: #f7a205 }
	20%{color: #f3f705 }
	 30%{color: #66f705 }
	40%{color: #05f7cf}
		50%{color: #05c3f7 }
	60%{color: #0556f7 }
		70%{color: #6205f7 }
	80%{color: #d705f7 }
		90%{color:#f092c1}
	100%{color: #bd73eb }

}

#title-case{
	font-size: 500%;
	text-align: center;	
	color: #3f0991;
	text-shadow: 4px 4px #6e44ab;
	border-radius: 20px;
	margin-bottom: 0px;
	text-shadow: 2px 2px black;
	animation-name: color-change-on-hover-text;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}


	#str{
		position: absolute;
		font-size: 20px;
		text-align: center;
		width: 60%;
		height: 5%;
		top:25%;
		left:20%;
		background-color: #2c2c2e;
		color: white;
		border-radius: 30px;
	}
	#output{
	position: absolute;
	width: 60%;
	height: 35%;
	top:25%;
	left:20%;
	background-color: #2c2c2e;
	font-size: 200%;
	margin-top: 5%;
	border-radius: 20px;
	text-align: center;
	color: white;
	overflow: auto;
}
#clipboard{
	height: 20%;
	position: absolute;
	bottom: 5%;
	left: 20%
}

#whatsapp{
	bottom: 5%;
	height: 20%;
	position: absolute;
	left: 35%
}

#encode{
	bottom: 5%;
	height: 20%;
	position: absolute;
	left: 50%
}
#debug{
	position: relative;
	height: 100%;
	left: 2%;
	bottom: 5%;
}
#hidden-button{
	color: red;
	filter: opacity(100%);
	background-color: #121212;
	position: absolute;
	bottom: 4%;
	width: 17%;
	height: 20%;
	left: 65%;
	z-index: 0;
	
}


@keyframes thumbsup{
	0%{width: 73px; height: 65px;}
	50%{width: 88px; height: 80px;}
	100%{width: 73px; height: 65px;}

}
img[target=thumbsUP]{
	animation: thumbsup;
	animation-iteration-count: 3;
	animation-duration: 1s;
}
#feedback{
	position: absolute;
	top: 3%;
	right: 5%;
	width: 30px;
	height: 30px;
}
#formContainer{
	position: absolute;
	top: 2%;
	right: 8%;
	display: none;
	color: red;
	padding: 25px;
	background-color: #2731ba;
	border-radius: 10px;
	width: 400px;

}
#submitButton{
	background-color: red;
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 10px;
}


/*-------------------------------------Mobile VIEW--------------------------------------*/	



@media(max-width: 800px){
	@keyframes color-change-on-hover-text{
		0%{color: #f70505 }
		 	10%{color: #f7a205 }
		20%{color: #f3f705 }
		 30%{color: #66f705 }
		40%{color: #05f7cf}
			50%{color: #05c3f7 }
		60%{color: #0556f7 }
			70%{color: #6205f7 }
		80%{color: #d705f7 }
			90%{color:#f092c1}
		100%{color: #bd73eb }

  }

#title-case{
	font-size: 400%;
	text-align: center;	
	color: #3f0991;
	text-shadow: 4px 4px #6e44ab;
	border-radius: 20px;
	margin-bottom: 0px;
	text-shadow: 2px 2px black;
	animation-name: color-change-on-hover-text;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
#str{
	position: relative;
	font-size: 22px;
	width: 80%;
	height: 8%;
	margin-top: 10%;
	left:10%;
	background-color: #2c2c2e;
	color: white;
	border-radius: 30px;
	z-index: 1;
}
#output{
	position: absolute;
	width: 80%;
	height: 25%;
	top:50%;
	left:10%;
	background-color: #2c2c2e;
	font-size: 100%;
	margin-top: 5%;
	border-radius: 20px;
	text-align: center;
	color: white;
	z-index: 999;
	overflow: auto;
}
#clipboard{
	position: absolute;
	height: 11%;
	left: 5%
}

#whatsapp{
	position: absolute;
	height: 11%;
	left: 30%
}

#encode{
	position: absolute;
	height: 11%;
	left: 55%
}

#hidden-button{
	position: absolute;
	height: 11%;
	left: 80%
	
}

@keyframes thumbsup{
	0%{width: 55px; height: 55px;}
	50%{width: 80px; height: 80px;}
	100%{width: 55px; height: 55px;}

}
img[target=thumbsUP]{
	width: 30px;
	height: 30px;
	animation-name: sd;
	animation-iteration-count: 3;
	animation-duration: 1s;
}
#feedback{
	position: absolute;
	top: 1%;
	right: 4%;
	width: 20px;
	height: 20px;
}
#formContainer{
	position: absolute;
	top: 2%;
	right: 8%;
	display: none;
	color: red;
	padding: 25px;
	background-color: #2731ba;
	border-radius: 10px;
	width: 200px;
}

#description{
	width: 200px;

}
#submitButton{
	background-color: red;
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 10px;
}
}